@(boxId: String)

<div id="@boxId" class="game-box container col square">
    <div class="row">
        <canvas class="game col-8"></canvas>
        <div class="game-info col-4 container">
            <div class="row">
                <div class="container">
                    <div class="row next-piece-title">
                        <p>Next</p>
                    </div>
                    <div class="row next-piece">
                        <div class="square">
                            <canvas></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-6">Placed</span>
                <span class="col-6 pieces-placed">0</span>
            </div>
            <div class="row">
                <span class="col-6">Points</span>
                <span class="col-6 points">0</span>
            </div>
        </div>
    </div>
</div>
