@import controllers.authentication.AuthenticatedRequest

@()(implicit request: AuthenticatedRequest[AnyContent])

@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
}

@scripts = {
    <script>tetris.Game().init()</script>
}

@main("", stylesheets = stylesheets, scripts = scripts) {
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div id="games" class="col-10 container-fluid">
                <div class="row">
                    @gamebox("player")
                    @gamebox("opponent")
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
}
