@import controllers.authentication.AuthenticatedRequest

@()(implicit request: AuthenticatedRequest[AnyContent])

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand @("active".when(request.path == routes.Application.index.toString))" href="@routes.Application.index">Tetris</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <a class="nav-link @("active".when(request.path == routes.Game.index.toString))" href="@routes.Game.index">
                Play
            </a>
            <a class="nav-link @("active".when(request.path == routes.Scores.index.toString))" href="@routes.Scores.index">
                High Scores
            </a>

            @if(request.userSession.isDefined) {
                <a class="nav-link @("active".when(request.path.matches(routes.Stats.index.toString + "/.*")))" href="@routes.Stats.index">
                    My Stats
                </a>
            }
        </div>
        <div class="navbar-nav ml-auto">
            @if(request.userSession.isEmpty) {
                <a class="nav-link @("active".when(request.path == routes.Session.login.toString))" href="@routes.Session.login">
                    Login
                </a>
            } else {
                <a class="nav-link" href="@routes.Session.logout">Logout</a>
            }
        </div>
    </div>
</nav>