@import controllers.authentication.AuthenticatedRequest
@import models.Result


@(user: User, games: Seq[Result], won: Int, piecesPlayed: Long, maximumPoints: Long, timePlayed: Long)(implicit request: AuthenticatedRequest[AnyContent])


@addStat(title: String, value: String) = {
    <div class="col-6 col-md-3 col-xl-2 font-weight-bold list-group-item">@title</div>
    <div class="col-6 col-md-3 col-xl-2 text-right list-group-item">@value</div>
}


@main("Stats") {
    <div class="row align-items-center">
        <div class="col-md-12 mt-5">
            <div class="card">
                <h4 class="card-header">@user.username</h4>

                <div class="container">
                    <div class="row">
                        @addStat("Games played", games.length.toString)
                        @addStat("Games won", won.toString)

                        @if(games.length - won == 0) {
                            @addStat("Win/Lose Ratio", won.toString)
                        } else {
                            @addStat("Win/Lose Ratio", (won / ((games.length - won) * 1.0)).toString)
                        }

                        @addStat("Pieces played", piecesPlayed.toString)
                        @addStat("Maximum points", maximumPoints.toString)
                        @addStat("Time played", (timePlayed / 60).toString + " min")
                    </div>
                </div>
            </div>
        </div>
    </div>
}