#games {
    margin-top: 10px;
}

.username {
    text-align: center;
    font-size: 2vw;
}

.square {
    position: relative;

    border: 2px solid grey;
    border-radius: 5px;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square > * {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-box {
    margin: 2vw;
}

.game-box:after {
    padding-bottom: 155%;
}

.layer {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.8)
}

.layer > * {
    display: block;
    position: relative;

    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.layer p {
    text-align: center;
    font-size: 4vmin;
}

.game {
    padding: 0;
}

.game-info {
    padding-top: 5px;
    border-left: 1px solid grey;
    font-size: 1.5vmin;
}

.next-piece-title {
    display: block;
    margin: 0;
    text-align: center;
}

.next-piece-title > p {
    font-size: 2vmin;
    margin-bottom: -10px;
}

.next-piece {
    display: block;
    margin: 1.5vmin 10% 10%;
    padding: 0;
}

#error {
    display: block;
    text-align: center;

    font-size: 2vw;
    color: crimson;
}
